# For recommended gitignore template, visit: https://github.com/github/gitignore/blob/master/Python.gitignore

# config
config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django:
*.log
db.sqlite3
